{% if family.type is defined and family.type == 'inet6' %}
family inet6 {
  {% if family.addresses is defined and family.addresses is iterable %}
  {% for address in family.addresses %}
  {% if address.ndp_entries is defined and address.ndp_entries is iterable %}
    address {{ address.ip|ipv6('cidr') }} {
    {% if address.preferred is defined and address.preferred %}
        preferred;
    {% endif %}
    {% for ndp_entry in address.ndp_entries %}
        ndp {{ ndp_entry.ip|ipv6('address') }} mac {{ ndp_entry.mac|hwaddr('linux') }};
    {% endfor %}
    }
  {% elif address.preferred is defined and address.preferred %}
    address {{ address.ip|ipv6('cidr') }} {
        preferred;
    }
  {% else %}
    address {{ address.ip|ipv6('cidr') }};
  {% endif %}
  {% endfor %}
  {% endif %}
  {% if family.input_filters is defined and family.input_filters is iterable %}
  {% if family.input_filters | length > 1 %}
    {% set input_filter_list = "[ " + family.input_filters | join(' ') + " ]" %}
    filter {
        input-list {{ input_filter_list }};
    }
  {% else %}
    filter {
        input {{ family.input_filters | first }};
    }
  {% endif %}
  {% endif %}
  {% if family.output_filters is defined and family.output_filters is iterable %}
  {% if family.output_filters | length > 1 %}
    {% set output_filter_list = "[ " + family.output_filters | join(' ') + " ]" %}
    filter {
        output-list {{ output_filter_list }};
    }
  {% else %}
    filter {
        output {{ family.output_filters | first }};
    }
  {% endif %}
  {% endif %}
}
{% endif %}

